﻿
@{
    ViewBag.Title = "Add Image";
}

<h2>Add Image</h2>

<form action="/Image/Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Image Title</label>
        <input class="form-control" type="text" name="Title" />
    </div>
    <div class="form-group">
        <label for="Description">Image Description</label>
        <input class="form-control" type="text" name="Description" />
    </div>
    <div class="form-group">
        <label for="ImageFile">Choose Image:</label>
        <input type="file" name="ImageFile" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Add Image</button>
</form>

