﻿
@{
    ViewBag.Title = "Details";
}

<style>
    img {
        image-orientation: from-image;
        width: 100%;
    }
</style>

<h2>Image Details</h2>

<div class="row">
    <h3>@ViewBag.Image.Title</h3>

    <img src="~/Content/Images/@ViewBag.Image.FileName" />
</div>
<br />
<div class="row">
    @ViewBag.Image.Description
</div>
<br />
<div class="row">
    <a class="btn btn-primary" href="/Image">Back To Gallery</a>
    <a class="btn btn-danger" href="/Image/Delete/@ViewBag.Image.Id">Delete Image</a>
</div>

