﻿
@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<style>
    img {
        image-orientation: from-image;
    }

    .gallery-image {
        display: inline-block;
        width: 350px;
    }

    .buttons {
        margin-top: 50px;
    }
</style>

@foreach (var image in ViewBag.Images)
{
    var imageSrc = image.ThumbnailFileName;
    <div class="gallery-image">
        <h4>@image.Title</h4>
        <a href="/Image/Details/@image.Id">
            <img src="~/Content/Images/@imageSrc" />
        </a>
        <div>@image.Description</div>
    </div>
}

    <div class="row buttons">
        <a href="/Image/Add" class="btn btn-primary">Add Image</a>
    </div>

